<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="StyleLogin.css">
    <title>Strona do logowania</title>
</head>
<body>

<form action="login" method="post">
    <div class="container2">
        <label for="uname"><b>Login</b></label> <input type="text"
                                                       placeholder="Enter Username" name="Login" required>
        <label
                for="psw"><b>Hasło:</b></label> <input type="password"
                                                       placeholder="Enter Password" name="Haslo" required>
        <h1>BLEDNE HASLO !!!</h1>
        <button type="submit">Zaloguj</button>
    </div>
</form>

</body>
</html>