<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <title>Flying squirrel</title>
<body>
<div class="logo">
    <img src="Images/fly.png">
</div>
<ul>
    <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li><a>O nas</a>
        <ul>
            <li><a href="/informacje">Informacje</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </li>
    <li><a href="/kierunki">Kierunki</a>
    </li>
    <li><a>Bezpieczne Wakacje</a>
        <ul>
            <li><a href="informacjepodrozni">Ubezpieczenia</a></li>
            <li><a href="zglos">Zgłoś podróż </a></li>
            </li>
        </ul>
    <li><a href="/panel">Moje konto</a>
    </li>
    <section>
        <div class="container">
            <div class="accordion">
                <div class="accordion-item" id="question1">
                    <a class="accordion-link" href="#question1">
                        Czy cena zawiera transfer z lotniska do hotelu?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        Tak, podane ceny zwierają transfer z lotniska do hotelu oraz z hotelu na lotnisko w przypadku
                        rezerwacji imprezy turystycznej.
                        Rezerwując tylko przelot, transfer nie jest wliczony w cenę.
                        Sprzęt sportowy, ponadgabarytowy podlega dodatkowej opłacie. W celu wyceny prosimy o kontakt ze
                        sprzedawcą.
                    </div>
                </div>
                <div class="accordion-item" id="question2">
                    <a class="accordion-link" href="#question2">
                        Czy cena zawiera koszty leczenia?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        Tak, cena zawiera podstawowe ubezpieczenie kosztów leczenia. Dodatkowe pakiety ubezpieczeń
                        znajdują się w zakładce Ubezpieczenia.
                    </div>
                </div>
                <div class="accordion-item" id="question3">
                    <a class="accordion-link" href="#question3">
                        W jaki sposób mogę dokonać zmiany lub anulować rezerwację?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        W celu zmiany lub anulacji rezerwacji najlepiej skontaktować się z Centrum Obsługi Klienta:
                        00011110000.
                    </div>
                </div>
                <div class="accordion-item" id="question4">
                    <a class="accordion-link" href="#question4">
                        Ile trwa doba hotelowa?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        Doba hotelowa (a co za tym idzie świadczenia hotelowe np. wyżywienie) w hotelach i apartamentach
                        kończy się o godz. 10.00, a rozpoczyna się w godz. 14.00-15.00. W przypadku nocnych przylotów do
                        kraju docelowego, następujących dzień po dacie rozpoczęcia świadczeń hotelowych, podanej na
                        dokumencie podróży w pozycji „TERMIN”, Goście kwaterowani są po przybyciu do hotelu – co
                        oznacza, że doba hotelowa liczona jest od godz. 14.00- 15.00 dnia podanego na dokumencie podróży
                        w pozycji „TERMIN”. Rozpoczęcie świadczeń all inclusive następuje po zameldowaniu w hotelu, pod
                        warunkiem, że trwa już pierwsza doba hotelowa, a kończy się z momentem wykwaterowania, jednak
                        nie później niż koniec ostatniej doby hotelowej. W przypadku lotów powrotnych do kraju
                        następujących po zakończeniu ostatniej doby hotelowej, należy opuścić pokoje do godz. 10.00 w
                        dniu wykwaterowania.
                    </div>
                </div>
                <div class="accordion-item" id="question5">
                    <a class="accordion-link" href="#question5">
                        Czy można zabrać zwierzę domowe?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        Szczegółowe informacje dot. przewozu oraz zakwaterowania zwierząt znajdują się w informacjach
                        szczegółowych danej oferty.
                    </div>
                </div>
                <div class="accordion-item" id="question6">
                    <a class="accordion-link" href="#question6">
                        Czy po zarezerwowaniu wakacji mogę dokupić jeszcze ubezpieczenie?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        Tak, ubezpieczenie w różnych wariantach można dokupić także w późniejszym terminie. Możliwe jest
                        także rozszerzenie zakresu ubezpieczenia np. o choroby przewlekłe lub sporty ekstremalne.
                    </div>
                </div>
                <div class="accordion-item" id="question7">
                    <a class="accordion-link" href="#question7">
                        Jak mogę sprawdzić, czy kraj, do którego podróżuję wymaga od turystów wizy?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        Informację na temat wizy, jeśli wymagana, zawsze publikujemy na stronie oferty w sekcji „Przed
                        podróżą”. Można ją też znaleźć na stronie Ministerstwa Spraw Zagranicznych
                        https://polakzagranica.msz.gov.pl.
                    </div>
                </div>
            </div>
        </div>
    </section>
</ul>
</body>
</html>