<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Flying squirrel</title>
<body>
<div class="logo">
    <img src="Images/fly.png">
</div>
<ul>
    <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li><a>O nas</a>
        <ul>
            <li><a href="/informacje">Informacje</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </li>
    <li><a href="/kierunki">Kierunki</a>
    </li>
    <li><a>Bezpieczne Wakacje</a>
        <ul>
            <li><a href="informacjepodrozni">Ubezpieczenia</a></li>
            <li><a href="zglos">Zgłoś podróż </a></li>
            </li>
        </ul>
    <li><a href="/panel">Moje konto</a>
    </li>
    <div class="kontakt">
        <a id="foxyform_embed_link_967500" href="http://www.foxyform.com/">foxyform</a>
        <script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=967500&sec_hash=8eb3c447270&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
        </script>
    </div>
</ul>
</body>
</html>