<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Flying squirrel</title>


<body>
<div class="logo">
    <img src="Images/fly.png">
</div>
<ul>
    <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li><a>O nas</a>
        <ul>
            <li><a a href="/informacje">Informacje</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </li>
    <li><a href="/kierunki">Kierunki</a>
    </li>
    <li><a>Bezpieczne Wakacje</a>
        <ul>
            <li><a href="informacjepodrozni">Ubezpieczenia</a></li>
            <li><a href="zglos">Zgłoś podróż </a></li>
            </li>
        </ul>
    <li><a href="/panel">Moje konto</a>
    </li>
    <div class="odyseusz">
        <form action="zarejestruj" method="post">
            <p>Serdeczne zapraszamy osoby,które przebywają lub planują pobyt poza granicami Polski do zarejestrowania
                się w programie Odysseusz Ministerstwa Spraw Zagranicznych</p>
            <button class="zarejestruj"><a href="https://odyseusz.msz.gov.pl"> ZAREJESTRUJ </a></button>
        </form>
    </div>
</ul>
</body>
</html>